.navbar {
    display:flex;
    color: white;
    background-color: rgba(12, 112, 242, 1);
    height: 60px;
}

.navbar h5 {
    margin-left: 60px;
}
 .navbar button {
    margin-left: 40px;
    background-color: white;
    color: rgba(12, 112, 242, 1);
    border: none;
    border-radius: 10px 10px 0px 0px;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    font-weight: 600;
 }